<div class="actionbar">
  <div class="actionbar__title">
    <div class="mark">
    <%= @title %>
    </div>
    <div class="actionbar__subtitle">
      <%= @subtitle %>
    </div>
  </div>
  <!-- A implémenter plus tard avec un controlleur stimulus
  <%= form_with(url: dashboard_search_path, :class => "action__searchbox") do |form| %>
    <%= form.text_field :query, :class => "searchbox__input", data: { action: "input->form-submission#search" } %>
  <% end %>
    -->
  <% if @domain.present? %>
    <div class="actionbar__buttons">
      <%= button_to "Rejoindre par clé d'accès", groups_join_path, method: :get, :class => "actionbar__button--outline", data: {turbo_frame: "modal"} %>
      <%= button_to 'Créer', new_group_path, method: :get, :class => "actionbar__button", data: {turbo_frame: "modal"} %>
    </div>
  <% end %>
</div>
<hr class="sketch-rule">