<div class="header">
  <div class="header__container">
    <div class="header__logo">
      🚀
    </div>
    <div class="header__links">
      <%= link_to "Cours", '#', :class => "header__link" %>
      <%= link_to "Examen", '#', :class => "header__link" %>
      <%= link_to "Devoirs", '#', :class => "header__link" %>
      <%= link_to "Forum", '#', :class => "header__link" %>
    </div>
    <div class="header__buttons">
      <%= button_to 'Mon compte', account_show_path, method: :get, :class => "header__config" %>
      <%= button_to 'Déconnexion', destroy_user_session_path, method: :delete, :class => "header__sign" %>
    </div>
  </div>
</div>
