<div class="header">
  <div class="header__container">
    <div class="header__logo">
      🚀
    </div>
    <div class="header__links">
      <%= link_to "Cours", courses_path, :class => "header__link" %>
      <%= link_to "Groupes", groups_path, :class => "header__link" %>
      <%= link_to "Examens", '#', :class => "header__link" %>
      <%= link_to "Forum", '#', :class => "header__link" %>
    </div>
    <div class="header__buttons" data-controller="account">
      <div>
        <button data-action="account#toggle" class="header__sign" style="display: flex">
          <div>
            <%= @user.name %>
          </div>
          <div data-account-target="arrow">
            ⬇
          </div>
        </button>
      </div>
        <div data-account-target="details" class="header__details" style="display: none">
          <%= button_to 'Mon compte', account_show_path, method: :get, :class => "header__config" %>
          <%= button_to notifications_index_path, method: :get, :class => "header__config" do %>
            <% if (Notification.unseen_notifications(@user).count + Invitation.pending_invitations(@user).count) != 0 %>
              ⚠️
            <% end %>
            <%= Notification.unseen_notifications(@user).count + Invitation.pending_invitations(@user).count %> notifications
          <% end %>
          <%= button_to 'Déconnexion', destroy_user_session_path, method: :delete, :class => "header__config" %>
        </div>
    </div>
  </div>
</div>
