<%= turbo_frame_tag dom_id(task) %>
<div class="section__elements">
  <div class="elements__action">
    <% if !task.state %>

  <% end %>
  </div>
  <div class="elements__title" style=" display:flex; <%= 'text-decoration: line-through;' if task.state %>">
    <% if task.state %>
      ✅
    <% else %>
    <%= button_to group_complete_task_path(task.group, task), :method => :get do %>
          <span style="margin-right: 3px">
          ▢
          </span>
    <% end %>
    <% end %>
   <%= task.title %>
    <% if !task.user.nil? %>
      <span class='pills__responsible--<%= task.group.users.find_index(task.user) %>'><%= task.user.name %></span>
    <% else %>
      <span class="pills__responsible">Groupe</span>
  <% end  %>
  </div>
</div>