<div class="container">
  <%= render(ActionbarComponent.new(title: @group.title, subtitle: @group.description, backpath: groups_path, invitation: true, object: @group, forum: true, key: @group.key)) %>
  <div class="sections">
    <div class="container__supertitle">
      <span class="mark"><%= @group.goal %></span>
    </div>
    <section>
      <div class="section__titles">
        <h2 class="section__title">Membres</h2>
        <h3 class="section__subtitle">Membres actuels du groupe</h3>
      </div>
        <% unless @members.nil? %>
          <% @members.each do |member|  %>
            <%= render 'groups/member', member: member, group: @group %>
          <% end %>
        <% end %>
    </section>
    <section>
      <div class="section__titles">
        <h2 class="section__title">Tâches
        </h2>
        <h3 class="section__subtitle">Tâches actuels du groupe</h3>
      </div>
        <div class="section__elements">
          <div class="elements__title" >
            <%= turbo_frame_tag "new_task" do %>
              <%= link_to new_group_task_path(@group), data: {turbo_frame: "new_task"} do %>
                <span style="color: lightslategray">Ajouter une nouvelle tâche</span>
              <% end %>
          <% end %>
          </div>
        </div>
      <%= turbo_frame_tag :tasks do %>
        <%= turbo_stream_from @group, :tasks %>
        <% @tasks.each do |task| %>
            <%= render 'tasks/task', task: task, group: @group %>
          <% end %>
        <% end %>
    </section>
  </div>
</div>