<div class="form__background">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form"}) do |f| %>
    <div class="form__titles">
      <span class="form__title">Ravi·e de <span class="mark">te revoir !</span></span>
      <span class="form__subtitle">Se connecter en tant que <u>professeur ou étudiant</u> sur Objectif Lune</span>
      <span class="form__arrow">↓</span>
    </div>
    <div class="form__field">
      <%= f.label "Courriel", :class => "form__label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form__input", required: true %>
    </div>

    <div class="form__field">
      <%= f.label "Mot de passe", :class => "form__label" %>
      <%= f.password_field :password, autocomplete: "current-password", :class => "form__input", required: true %>
    </div>

    <div class="form__links">
      <%= f.submit "Je me connecte", :class => "form__submit" %>
      <hr class="sketch-rule">
      <div class="form__sublinks">
        <%= render "devise/shared/links" %>
        <%= link_to "J'ai besoin d'aide", new_contact_path, :class => "form__submit--outline" %>
      </div>
    </div>
  <% end %>
</div>
